*.pyc
*.c
*.egg-info
*.so
*.pyd
*.dll
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
*.pyo
*.tmp*
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
docs/_build/
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
